@using HTL_Memes_Scrum.Models
@{
    ViewBag.Title = "MemePage";


}

<h2>Deine Memes</h2>

<div style="float: left">
    @{
        User u = (User)Session["user"];
        foreach (Meme m in u.Memes) {

            <h1>@m.memeHeading</h1>
            <img src="@m.memePath" alt="Image not found">
            <p title="Mosers Gschaftlerei">Likes: @m.likeList.Count</p>
            <p>Upload-Datum: @m.memeUploadDate.Day </p>
            @Html.ActionLink("Delete", "control", "Meme")

        }
    }
</div>

<div style="float: right">
    <h1>Hier könnte Ihre Werbung stehen</h1>
</div>