﻿@media (min-width:1281px) {
    hi-res laptops and desktops
    Meine Auflösung
    #HeaderRow {
        width: 100%;
        height: 100%;
    }

    #Logo {
        height: 80px;
        width: auto;
    }

    #HeaderTable {
        height: 80px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.8);
    }

    #ChoiceDiv {
        margin-top: 30%;
        height: 20%;
    }

    #RegisterChoice {
        float:left;
        height:inherit;
        width:50%;
        border:2px solid black;
    

    }
    #LoginChoice {
        float: right;
        height: inherit;
        width: 50%;
        border: 2px solid black;

    }


    #Suchleiste {
        width: 40%;
    }

    #ItemContainerHeader {
        width: 40%;
    }

    #HomeBtn {
        width: 35px;
        height: auto;
    }

    #LatestBtn {
        width: 35px;
        height: auto;
    }

    #MostLikedBtn {
        width: 35px;
        height: auto;
    }

    #CategoryBtn {
        width: 35px;
        height: auto;
    }

    #UploadBtn {
        width: 35px;
        height: auto;
    }

    #SignInBtn {
        width: 35px;
        height: auto;
    }

    #SignOutBtn {
        width: 35px;
        height: auto;
    }

    .AbstandItem {
        width: 14%;
    }

    .categoryDD {
        display: inline-block;
    }

    .categoryDD-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(1,0,0,0.2);
        z-index: 1;
    }

        .categoryDD-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .categoryDD-content a:hover {
                background-color: #a3f1f1
            }

    .categoryDD:hover .categoryDD-content {
        display: block;
    }

    .categoryDD:hover .dropbtn {
        background-color: #3e8e41;
    }


    main {
        min-height: 600px;
    }




    footer {
        position: relative;
        bottom: 0px;
        clear: both;
        width: auto;
        text-align: center;
        padding: 10px 10px;
        height: auto;
        background-color: rgba(0, 0, 0, 0.8);
    }

        footer ul {
            list-style-type: none;
        }

            footer ul a {
                color: white;
                text-align: center;
                text-decoration: none;
                font-family: Arial;
                font-size: larger;
                padding-left: 10px;
                padding-right: 10px;
            }

                footer ul a:hover {
                    color: lightgreen;
                }

    .Person {
        width: 160px;
    }
}
