﻿
<header>
    <h2>Userverwaltung</h2>
</header>

<content>
    <nav>
        @Html.ActionLink("Start", "Index", "User")
        @Html.ActionLink("Registrieren", "Register", "User")
        @Html.ActionLink("Log in", "Login", "User")
        @Html.ActionLink("Userdaten anzeigen", "ShowData", "User")
    </nav>

</content>