﻿

<h2>Login</h2>

<form>
    
    <ul>
        <li>Benutzername eingeben<input type="text" name="Benutzername" /></li>
        <li>Passwort eingeben<input type="text" name="Passwort" /></li>
        <li><input type="submit" name="Login"/></li>
    </ul>

</form>
