﻿
<h2>Registrieren Sie sich</h2>

<div>
    <form>
        <ul>
            <li>Vorname: <input type="text" /></li>
            <li>Nachname: <input type="text" /></li>
            <li>Benutzername: <input type="text" /></li>
            <li>Email: <input type="email" /></li>
            <li>Passwort: <input type="password" /></li>
            <li>Geburtsdatum: <input type="datetime" /></li>
            <li>Administrator: <input type="checkbox" /></li>
            <li><input type="submit" name="absenden" /></li>
            <li><input type="reset" name="abbrechen" /></li>

        </ul>
    </form>
</div>
