﻿@model HTL_Memes_Scrum.Models.User
@using HTL_Memes_Scrum.Models.models

@{
    ViewBag.Title = "RegisteredUsers";
}

<h4>Admin - registrierte Benutzer</h4>

@if (Model != null)
{
    <table id="adminUserTable">
        <thead>
            <tr>
                <th>Benutzername</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>eMail-Adresse</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary()
                    
                    <td>@Html.LabelFor(u => u.Username, "Benutzername")</td>
                    <td>@Html.EditorFor(u => u.Username)</td>

                    <td>@Html.LabelFor(u => u.Firstname, "Vorname")</td>
                    <td>@Html.PasswordFor(u => u.Firstname)</td>
                    
                    <td>@Html.LabelFor(u => u.Lastname, "Nachname")</td>
                    <td>@Html.EditorFor(u => u.Lastname)</td>

                    <td>@Html.LabelFor(u => u.Birthdate, "Geburtsdatum ")</td>
                    <td>@Html.EditorFor(u => u.Birthdate)</td>
                }
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">Abminbereich zur Benutzerverwaltung</td>
            </tr>
        </tfoot>
    </table>
}
else
{
    <p>
        Es sind noch keine Benutzer registriert!
    </p>
}