﻿@model List<HTL_Memes_Scrum.Models.User>
@using HTL_Memes_Scrum.Models

@{
    ViewBag.Title = "RegisteredUsers";
}

<h4>Admin - registrierte Benutzer</h4>

@if ((Model != null) && (Model.Count > 0))
{
    <table id="adminUserTable">
        <thead>
            <tr>
                <th>Benutzername</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>eMail-Adresse</th>
                <th>Admin</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>

        @foreach (User u in Model)
        {
            <tr>
                <td>@u.Username</td>
                <td>@u.Firstname</td>
                <td>@u.Lastname</td>
                <td>@u.Email</td>
                <td>
                    @if(Convert.ToInt32(u.isAdmin) == 1)
                    {
                        <p>Ja</p>
                    }
                    else
                    {
                        <p>Nein</p>
                    }
                </td>
                <td style="font-size: 70%">
                    @using (Html.BeginForm("delete/" + @u.ID, "user", FormMethod.Post))
                    {
                        <input type="submit" value="löschen" />
                    }
                </td>
                <td style="font-size: 70%">
                    @using (Html.BeginForm("update/" + @u.ID, "user", FormMethod.Post))
                    {
                        <input type="submit" value="ändern" />
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="8">Abminbereich zur Benutzerverwaltung</td>
        </tr>
    </tfoot>
</table>
}
else
{
    <p>
        Es sind noch keine Benutzer registriert!
    </p>
}