﻿
@{
    ViewBag.Title = "Contact";
}
<div style="height:80px; background-color: rgba(0, 0, 0, 0);"></div>

<h2>Kontakt</h2>

<div>
    <table width="auto" class="Kontakt">
        <tr>
            <td>Martin Pejic</td>
            <td rowspan="5">
                <div>
                    <img class="Person" src="~/Content/pictures/Contact/martin_pejic.png" title="Martin Pejic" />
                </div>
            </td>
            <td width="100px"></td>
            <td>David Retter Rukundo</td>
            <td rowspan="5">
                <div>
                    <img class="Person" src="~/Content/pictures/Contact/david_retter-rukundo.png" title="David Retter-Rukundo" />
                </div>
            </td>
        </tr>
        <tr>
            <td>Schopperweg 11</td>
            <td width="100px"></td>
            <td>Hechenbergweg 8</td>
        </tr>
        <tr>
            <td>6060 Hall in Tirol</td>
            <td width="100px"></td>
            <td>6020 Innsbruck</td>
        </tr>
        <tr>
            <td>martinpejichtl@gmail.com</td>
            <td width="100px"></td>
            <td>davidrukundo57@gmail.com</td>
        </tr>
        <tr>
            <td>+43 676 361 1999</td>
            <td width="100px"></td>
            <td>+43 676 187 31690</td>
        </tr>
    </table>
</div>