﻿
@{
    ViewBag.Title = "Imprint";
}

<div style="height:80px; background-color: rgba(0, 0, 0, 0);"></div>

<h2>Impressum</h2>

<div>
    <table width="500px" class="Kontakt">
        <tr>
            <th>Geschäftsführer:</th>
        </tr>
        <tr>
            <td>Martin Pejic</td>
            <td>David Retter-Rukundo</td>
        </tr>
        <tr>
            <td>Schopperweg 11</td>
            <td>Hechenbergweg 8</td>
        </tr>
        <tr>
            <td>6060 Hall in Tirol</td>
            <td>6020 Innsbruck</td>
        </tr>
        <tr>
            <td>martinpejichtl@gmail.com</td>
            <td>davidrukundo57@gmail.com</td>
        </tr>
        <tr>
            <td>+43 676 361 1999</td>
            <td>+43 676 187 31690</td>
        </tr>
    </table>
    <br />
    Informationspflicht laut §5 E-Commerce Gesetz, §14 Unternehmensgesetzbuch, §63 Gewerbeordnung und Offenlegungspflicht laut §25 Mediengesetz</br>
    <h3>Haftungshinweis</h3>
    Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
    Diese Website wurde mit größtmöglicher Sorgfalt zusammengestellt. Trotzdem kann ELEMBO für die Fehlerfreiheit und Genauigkeit der enthaltenen Informationen nicht garantieren. Wir schließen jegliche Haftung für Schäden, die direkt oder indirekt aus der Benutzung dieser Website entstehen, aus, soweit diese nicht auf Vorsatz oder grober Fahrlässigkeit unsererseits beruhen.
    <br />
    <h3>Urheberrecht</h3>
    Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.
    Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.
    Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
</div>

