﻿
@{
    ViewBag.Title = "SignIn";
}

<h2>SignIn</h2>


<div id="ChoiceDiv">
    <div id="RegisterChoice">

        <h3>
            Sie sind neu auf HTLMemes?
            @Html.ActionLink("Registrieren Sie sich", "Register", "User")
        </h3>

    </div>

    <div id="LoginChoice">

        <h3>
            Sie besitzen bereits einen Account?
            @Html.ActionLink("Loggen Sie sich ein", "Login", "User")
        </h3>

    </div>
</div>