﻿
<div id="footercontent">
    <ul>
        <li>
            @Html.ActionLink("Impressum", "imprint", "home")
            @Html.ActionLink("Kontakt", "contact", "home")
            @Html.ActionLink("Datenschutz", "dataprotection", "home")
        </li>
    </ul>

</div>