﻿<table id="HeaderTable">
        <tr id="HeaderRow">
            <td>
                <img id="Logo" src="~/Content/pictures/Logo.png"/>
            </td>
            <td id="ItemContainerHeader">
                <div class="AbstandItem"></div>
                <table>
                    <tr>
                        <td class="AbstandItem"></td>
                        <td><a href="/Home/Start"><img id="HomeBtn" src="~/Content/pictures/Header/HomeBtn.png" title="Home"/></a></td>
                        <td class="AbstandItem"></td>
                        <td><a href="/Home/Latest"><img id="LatestBtn" src="~/Content/pictures/Header/LatestBtn.png" title="Newest"/></a></td>
                        <td class="AbstandItem"></td>
                        <td><a href="/Home/Favorite"><img id="MostLikedBtn" src="~/Content/pictures/Header/MostLikedBtn.png" title="Favorites"/></a></td>
                        <td class="AbstandItem"></td>
                        <td>
                            <div class="categoryDD">
                                <img id="CategoryBtn" src="~/Content/pictures/Header/CategoryBtn.png" />
                                <div class="categoryDD-content">
                                    <a href="#">Link 1</a>
                                    <a href="#">Link 2</a>
                                    <a href="#">Link 3</a>
                                </div>
                            </div>
                        </td>
                        <td class="AbstandItem"></td>
                        <td><a href="/Home/Upload"><img id="UploadBtn" src="~/Content/pictures/Header/UploadBtn.png" title="Upload"/></a></td>
                        <td class="AbstandItem"></td>
                        <td><a href="/Home/SignIn"><img id="SignInBtn" src="~/Content/pictures/Header/SignInBtn.png" title="Login"/></a></td>
                        <td class="AbstandItem"></td>
                    </tr>
                </table>              
            </td>
            <td class="w3-container">
                <input id="Suchleiste" class="w3-input w3-border w3-animate-input w3-round-xxlarge" type="text" placeholder="Search">
            </td>
        </tr>
    </table>