﻿



    <nav>
        <ul>

            <li>@Html.ActionLink("Start", "Index", "Meme")</li>
            <li>@Html.ActionLink("Registrieren", "Register", "User")</li>
            <li>@Html.ActionLink("Log in", "Login", "User")</li>
            <li>@Html.ActionLink("Userdaten anzeigen", "ShowData", "User")</li>
        </ul>
    </nav>

